<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ssafy.enjoy.group.repository.GroupPlanRepository">
	
	<resultMap type="GroupDto" id="groupdto">
		<result column="groupNo" property="groupNo"/>
		<result column="userId" property="userId"/>
		<result column="subject" property="subject"/>
		<result column="registerTime" property="registerTime"/>
		<result column="startTime" property="startTime"/>
		<result column="endTime" property="endTime"/>
		<result column="memberCnt" property="memberCnt"/>
	</resultMap>
	
	<resultMap type="GroupPlanDto" id="groupplandto">
		<result column="planNo" property="planNo"/>
		<result column="groupNo" property="groupNo"/>
		<result column="subject" property="subject"/>
		<result column="userId" property="userId"/>
		<result column="heart" property="heart"/>
	</resultMap>
	
	<resultMap type="GroupCommentDto" id="groupcommentdto">
		<result column="commentNo" property="commentNo"/>
		<result column="groupNo" property="groupNo"/>
		<result column="comment" property="comment"/>
		<result column="userId" property="userId"/>
	</resultMap>
	
	<resultMap type="GroupMemberDto" id="groupmemberdto">
		<result column="groupNo" property="groupNo"/>
		<result column="grade" property="grade"/>
		<result column="userId" property="userId"/>
	</resultMap>
	
	<resultMap type="attractionDto" id="attraction">
		<result column="content_id" property="content_id"/>
		<result column="content_type_id" property="content_type_id"/>
		<result column="title" property="title"/>
		<result column="addr1" property="addr1"/>
		<result column="addr2" property="addr2"/>
		<result column="zipcode" property="zipcode"/>
		<result column="tel" property="tel"/>
		<result column="first_image" property="first_image"/>
		<result column="first_image2" property="first_image2"/>
		<result column="readcount" property="readcount"/>
		<result column="sido_code" property="sido_code"/>
		<result column="gugun_code" property="gugun_code"/>
		<result column="latitude" property="latitude"/>
		<result column="longitude" property="longitude"/>
		<result column="mlevel" property="mlevel"/>
	</resultMap>
	
	
	
	
	<select id="getGroupPlan" parameterType="int" resultMap="groupplandto">
		select * from plan where groupNo=#{groupNo}
	</select>
	
	<select id="getGroupComment" parameterType="int" resultMap="groupcommentdto">
		select * from group_comment where groupNo=#{groupNo}
	</select>
	<select id="getGroupMember" parameterType="int" resultMap="groupmemberdto">
		select * from group_members where groupNo=#{groupNo}
	</select>
	
	<select id="getDetailPlan" parameterType="int" resultMap="groupplandto">
		select planNo,groupNo,subject,userId,
		(select COUNT(*) from plan_heart where planNo=#{planNo}) as heart 
		from plan where planNo=#{planNo}
	</select>
	
	<select id="getPlanPath" parameterType="int" resultMap="attraction">
		SELECT a.*
		FROM attraction_info AS a
		JOIN (
		  SELECT contentId, ROW_NUMBER() OVER (ORDER BY planSeq) AS rn
		  FROM plan_path
		  WHERE planNo = #{planNo}
		) AS p
		ON a.content_id = p.contentId
		ORDER BY p.rn;
	</select>
	
	<update id="updateHit" parameterType="string">
		update attraction_info set hit=hit+1 where content_id =#{contentId}
	</update>
	
	<select id="getPlanMemo" parameterType="int" resultType="string">
		select memo from plan_path where planNo=#{planNo} order by planSeq
	</select>
  	
  	<delete id="deletePlan" parameterType="int">
  		delete from plan where planNo=#{planNo};
  	</delete>
  	
  	<insert id="writeGroupPlan" parameterType="GroupPlanDto">
  		insert into plan(subject,userId,groupNo)
  		values(#{subject},#{userId},#{groupNo})
  	</insert>
  	
  	<select id="getAuto" resultType="int">
  		select last_insert_id()
  	</select>
  	
  	<insert id="writeGroupPlanPath" parameterType="string">
  		insert into plan_path values(#{a},#{seq},#{contentId},#{memo})
  	</insert>
  	
  	<update id="updateGroupPlan" parameterType="string">
  		update plan set subject=#{subject} where planNo=#{planNo}
  	</update>
  	
  	<delete id="deleteGroupPlanPath" parameterType="string">
  		delete from plan_path where planNo = #{planNo}
  	</delete>
  	
  	<insert id="likeGroupPlan" parameterType="string">
  		insert into plan_heart values(#{planNo},#{userId});
  	</insert>
  	
  	<delete id="deleteHeart" parameterType="string">
  		delete from plan_heart where planNo=#{planNo} and userId=#{userId}
  	</delete>
  	
  	<select id="getDetailGroup" parameterType="int" resultMap="groupdto">
  		select * from groupplan where groupNo=#{groupNo}
  	</select>
  	
  	<select id="getHeart" parameterType="string" resultType="int">
  		select COUNT(*) from plan_heart where planNo=#{planNo} and userId=#{userId}
  	</select>
  	
  	<update id="downHeart" parameterType="int">
  		update plan set heart=heart-1 where planNo=#{planNo}
  	</update>
  	
  	<update id="updateHeart" parameterType="int">
  		update plan set heart=heart+1 where planNo=#{planNo}
  	</update>
  	
  	
</mapper>
 