<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ssafy.enjoy.attraction.repository.PlanRepository">
  
  	<resultMap type="sidoDto" id="sido">
		<result column="sido_code" property="sido_code"/>
		<result column="sido_name" property="sido_name"/>
	</resultMap>
	
	<resultMap type="gugunDto" id="gugun">
		<result column="gugun_code" property="gugun_code"/>
		<result column="gugun_name" property="gugun_name"/>
	</resultMap>
	
	<resultMap type="attractionDto" id="attraction">
		<result column="content_id" property="content_id"/>
		<result column="content_type_id" property="content_type_id"/>
		<result column="title" property="title"/>
		<result column="addr1" property="addr1"/>
		<result column="addr2" property="addr2"/>
		<result column="zipcode" property="zipcode"/>
		<result column="tel" property="tel"/>
		<result column="first_image" property="first_image"/>
		<result column="first_image2" property="first_image2"/>
		<result column="readcount" property="readcount"/>
		<result column="sido_code" property="sido_code"/>
		<result column="gugun_code" property="gugun_code"/>
		<result column="latitude" property="latitude"/>
		<result column="longitude" property="longitude"/>
		<result column="mlevel" property="mlevel"/>
	</resultMap>
	
  
  	<select id="getsido" resultMap="sido">
  		select * from sido
  	</select>
  	
  	<select id="getgugun" parameterType="int" resultMap="gugun">
  		select gugun_code, gugun_name
  		from gugun
  		where sido_code=#{code}
  	</select>
  	<select id="getattraction" parameterType="map" resultMap="attraction">
  		select * from attraction_info
  		where content_type_id=#{contentType} and sido_code=#{areaCode} and gugun_code=#{townCode}
  	</select>
  	
  	<select id="getSearchAttraction" parameterType="string" resultMap="attraction">
  		select * from attraction_info
  		where title Like CONCAT('%', #{word}, '%')
  	</select>
  	
  	
  	
  </mapper>