<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ssafy.enjoy.board.repository.NoticeBoardRepository">
  	<resultMap type="FNBoardDto" id="article">
		<result column="article_no" property="article_no"/>
		<result column="user_id" property="user_id"/>
		<result column="subject" property="subject"/>
		<result column="content" property="content"/>
		<result column="hit" property="hit"/>
		<result column="register_time" property="register_time"/>
	</resultMap>
  
  	<sql id="search">
		<if test="word != null and word != ''">
			<if test="key == 'subject'">
				and subject like concat('%', #{word}, '%')
			</if>
			<if test="key != 'subject'">
				and ${key} = #{word}
			</if>
		</if>
	</sql>

	<select id="list" parameterType="map" resultMap="article">
		select b.article_no, b.user_id, b.subject, b.content, b.hit, b.register_time
		from notice_board b
		where 1
		<include refid="search"></include>
		order by b.article_no desc
		limit #{start}, #{listsize}
	</select>
	
	<select id="getTotalArticleCount" parameterType="map" resultType="int">
		select count(article_no)
		from notice_board
		<where>
			<include refid="search"></include>
		</where>
	</select>
	
	<insert id="write" parameterType="FNBoardDto">
		insert into notice_board(user_id,subject,content,register_time)
		values(#{user_id},#{subject},#{content},now())
	</insert>
	
	<select id="getnotice" parameterType="int" resultMap="article">
		select * from notice_board where article_no=#{articleNo}
	</select>
	<update id="updateHit" parameterType="int">
		update notice_board set hit = hit+1 where article_no=#{articleNo}
	</update>
	<delete id="delete" parameterType="int">
		delete from notice_board where article_no=#{articleNo}
	</delete>
	<update id="modify" parameterType="FNBoardDto">
		update notice_board set subject=#{subject},content=#{content} where article_no=#{article_no} 
	</update>
  </mapper>
