<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoy.board.repository.FreeBoardRepository">

 	<select id="freeList" resultType="FNBoardDto">
 		select article_no, user_id, subject, content, hit, register_time from free_board
 	</select>

	<insert id=""></insert>

</mapper>
