<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.ssafy.enjoy.member.repository.MemberRepository">
		<insert id="memberJoin" parameterType="memberDto">
			insert into members(user_id, user_name, user_password, email_id, email_domain, join_date)
			values (#{user_id}, #{user_name}, #{user_password}, #{email_id}, #{email_domain}, now())
		</insert>
	</mapper>